# --- Python ---
# 캐시 폴더
__pycache__/
*.pyc

# 가상환경 폴더
venv/
.venv/
env/

# --- IDE ---
# PyCharm / VSCode
.idea/
.vscode/

# --- Build Artifacts (PyInstaller) ---
# .exe 파일이 있는 배포 폴더
dist/
# 임시 빌드 폴더
build/
# PyInstaller 설정 파일
*.spec

# --- Output & Logs ---
# .log, .xlsx 파일이 저장되는 폴더
save/
# 혹시 외부에 생성될 경우
*.log
*.xlsx
*.xls

# --- Security ---
# 서비스 계정 키, API 키 등 모든 .json 파일
*.json